
body {
  margin-bottom: 0;
  margin-right: 300px;
  margin-left: 300px;
  font-family: sans-serif;
  display: grid;
  background-color: #eee56f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
